# LaTeX intermediate files
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.nav
*.snm
*.vrb
*.xdv

repos_info.md

# Temporary files
*.tmp
*.bak
*.backup
*.dvi
--action-cache-path

# PDF output
# *.pdf

# Directories
_build/
out/
